{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Voyage index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Destination</th>
                    <th>Note</th>
                    <th>Date de Départ</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for voyage in voyages %}
                <tr>
                    <td>{{ voyage.titre }}</td>
                    <td>{{ voyage.destination.ville }} / {{ voyage.destination.pays.nom }}</td>
                    <td>{{ voyage.note }}</td>
                    <td>{{ voyage.dateDepart ? voyage.dateDepart|date('d/m/Y') : '' }}</td>
                    <td>
                        <a href="{{ path('admin_voyage_show', {'id': voyage.id}) }}" class="btn btn-primary" title="Show">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('admin_voyage_edit', {'id': voyage.id}) }}" class="btn btn-warning" style="color: #FFF;" title="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <a href="{{ path('admin_voyage_new') }}" class="btn btn-dark">Créer un voyage</a>
    </div>
{% endblock %}
