{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <h1>Destination index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Id</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.ville }}</td>
                <td>{{ destination.lat }}</td>
                <td>{{ destination.lng }}</td>
                <td>{{ destination.id }}</td>
                <td>{{ destination.created ? destination.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_destination_show', {'id': destination.id}) }}">show</a>
                    <a href="{{ path('admin_destination_edit', {'id': destination.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_destination_new') }}">Create new</a>
{% endblock %}
